{% load static %}
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="{% static 'apis.css' %}" rel="stylesheet" id="bootstrap-css">
        <!------ Include the above in your HEAD tag ---------->
    </head>

    <body>
        <div class="wrapper fadeInDown">
          
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- apis -->
              {% block content %}
              <P>
                <H3>API</H3>
                <a href="{% url 'API:AthenaViewSet' %}">    <label> Athena Saints </label>     </a>
                <br />
                <a href="{% url 'API:AthenaPostSaint' %}">    <label> Add Saints </label>     </a>
              </P>

              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a href="{% url 'Athena:About' %}"  class="underlineHover" href="#">Learn more</a>
                <a href="{% url 'Athena:help' %}"  class="underlineHover" href="#">Community</a>
              </div>
              {% endblock content %}
            </div>
        </div>
    </body>
</html>

