{% extends 'apis.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">
        Done
    </button>
</form>
{% endblock content %}