{% load static %}
<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <title>Seint Seiya API</title>
    </head>
    <body>
      
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          
            <ol class="carousel-indicators">
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>

            
            <div class="carousel-inner">
              <div class="carousel-item active">
                
                
                <img src="{% static 'Galery/2.jpg' %}" class="d-block w-100" >
                <div class="carousel-caption d-none d-md-block">
                  <a href="{% url 'Athena:AllApis' %}">  <button type="button" class="btn btn-primary" > API </button> </a>
                  <a href="{% url 'Athena:CreateAthenaSaint' %}">  <button type="button" class="btn btn-primary" > Add Saint</button> </a> 
                </div>
                
              </div>
              <div class="carousel-item">
                <img src="{% static 'Galery/1.png' %}" class="d-block w-1000" height="100%">
                <div class="carousel-caption d-none d-md-block">
                  <a href="{% url 'Athena:About' %}">  <button type="button" class="btn btn-primary" > API </button> </a> 
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'Galery/3.jpg' %}" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                  <a href="{% url 'Athena:About' %}">  <button type="button" class="btn btn-primary" > API </button> </a> 
                </div>
              </div>
            </div>
            
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
            
          
          </div>
      
    </body>

</html>





       